  <footer class="page-footer-sticky teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Our Vision</h5>
          <p class="grey-text text-lighten-4">
            We want to be able to provide something simple but not simplistic.Something
            that would help everyone to organize his/her schedule and routine without
            complex applications that need too much time to learn how to use it.Today
            the technology gives us the ability to build complex applications but simple
            to use for the end user.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Information</h5>
          <ul>
            <li><a class="white-text" href="#!">Contact us</a></li>
            <li><a class="white-text" href="#!">About us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      Powered by <a class="brown-text text-lighten-3" href="https://github.com/GeorgeFourikis">George Fourikis</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>  
    <script src="../public/js/materialize.js"></script>
  <script src="../public/js/init.js"></script>

  </body>
</html>
