  <% include partials/head %>


  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Talon Tasker</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">George</a></li>
        <li><a href="/seeAll">See your tasks</a></li>
        <li><a href="/new">Create a task</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      <div class="row">
        <h4>My DashBoard</h4>
        <form class="col s12">
          <div class="row">
            <div class="col l4">
              <a class="btn-large red" href="/seeAll">My tasks </a>
            </div>            
            <div class="col l4">
              <a class="btn-large red" href="/seeAll">My places </a>
            </div>            
            <div class="col l4">
              <a class="btn-large red" href="/seeAll">My calendar </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<% include partials/footer %>
